<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS & JS -->

<head>
    <meta charset="UTF-8">
    <title>Science Injury Watchlist Main Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script src="functions.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/">Science Injury Watchlist</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Submit</a></li>
                    <li><a href="/world">Map</a></li>
                    <li class="active"><a href="/about">About<span class="sr-only"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="col-sm-12">
        <div class="jumbotron">
            <p>
                Put detailed description about you and your company.
            </p>
        </div>
    </div>
</body>

</html>